	h1 {
  		color:black;
  		text-align: center;
  	}
  	h2 {
  		color:black;
  		background-color:pink;
  	}
  	h3 {
  		color:white;
  		background-color:red;

  	}
  	h4 {
  		color:black;
  		background-color:yellow;

  	}